<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="estilos.css" />
  </head>
  <body>
    <h1>Skate Park</h1>

    <div class="py-4">
      <h2>Administración</h2>
      <hr class="w-50" />

      <table class="table w-50 m-auto">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          {% for skater in skaters%}
          <tr>
            <th scope="row">{{ skater.id }}</td>
            <td><img src="/img_usuarios/{{ skater.photo }}" style="width: 40px;"></img></td>
            <td>{{ skater.name }}</td>
            <td>{{ skater.annos_experiencia }}</td>
            <td>{{ skater.specialty }}</td>
            <td>
              <input name="{{skater.id}}" type="checkbox" {% if skater.status %}checked{% endif %} />
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(() => {
        $('input[type="checkbox"]').change((e) => {
          const id = e.target.name;
          const status = e.target.checked;
          $.post('/admin', { id, status });
        })
      })
    </script>
  </body>
</html>
